*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  line-height: 1.5;
  color: black;
}

.page {
    width: 100%;
    height: 100vh;
    background:#0b5942;

    display: flex;
    justify-content: center;
    align-items: center;
}


.page-2 {
    width: 100%;
    height: 100vh;
    background: white;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.card {
  max-width: 450px;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 16px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.btn{
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #0b5942;
    color: white;
}

.btn-primary:hover {
    background: #a5dfce;
    color: black;
}

.btn-secondary {
    background: #e4e4e4;
    color: black;
}

.btn-secondary:hover {
    background: #c4c4c4;
    color: black;
}
